In [4]:
from datasets import load_dataset
import pandas as pd

In [2]:
dataset = load_dataset("OsamaBsher/AITA-Reddit-Dataset")

In [3]:
train_dataset = dataset['train']
train_df = train_dataset.to_pandas()
train_df.to_csv('data/processed/AITA-Reddit-Dataset.csv', index=False)

In [5]:
df = pd.read_csv('data/raw/AITA-Reddit-Dataset.csv')

In [8]:
new_df = df[["text","verdict"]]

In [ ]:
# NTA : Not the asshole
# YTA : You're the asshole
# NAH : No assholes here
# ESH : Everyone sucks here

In [10]:
new_df['verdict'].value_counts()

verdict
nta    203079
yta     47408
nah     13342
esh      6880
Name: count, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
new_df["verdict"] = LE.fit_transform(df["verdict"])

/tmp/ipykernel_63029/561122597.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["verdict"] = LE.fit_transform(df["verdict"])

In [20]:
new_df

                                                     text  verdict
0       i turned 30 on monday. i don't have a problem ...        2
1       feed up with my gf. for 6 years ive supported ...        2
2        so at the start of the school year. like any ...        2
3       sorry for format, using mobile. so a little bi...        2
4       so next week is finals week at my university a...        2
...                                                   ...      ...
270704  my great grandma gigi, ran a business back in ...        2
270705  so my (15f) birthday was a few days ago and my...        2
270706  i have already posted this story but now i’m p...        2
270707  character line-up: me (32f), and my girlfriend...        3
270708  for some context, i had a baby in january. cra...        2

[270709 rows x 2 columns]